@import "global/flat.scss";
@import "global/function.scss";

.hero {
	background: #ff4b1f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
	width: 100%;
	@include flex();

	.visualizer {
		width: 100%;
		min-height: 300px;
		background-color: transparentize($white, 0.61);
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;

		&:hover ~ audio {
			opacity: 1;
		}
	}
	.visualizer__wrapper {
		min-height: 300px;
		position: relative;
		width: 480px;
		display: block;
		margin: 0 auto;

		@for $i from 1 through 32 {
			.nodes--#{$i} {
				position: absolute;
				bottom: 0;
				height: 0;
				width: 12px;
				background-color: $white;

				@if $i == 1 {
					left: 0px;
				} @else {
					left: 12px * $i + ($i * 3 - 15px);	
				}
			}
		}
	}
	audio {
		width: 100%;
		opacity: 0.4;
		@include transition(0.3s);

		&:hover {
			opacity: 1;
		}
	}
	.source {
		width: 100%;
		display: block;
		text-align: center;

		.source-file {
			margin: 20px auto;
			background-color: transparent;
			color: $white;
			border-color: $white;
			@include transition(0.2s);

			.fa {
				margin-right: 5px;
			}
			&:hover {
				background-color: $white;
				color: $alizarin;
			}
		}
	}
}
