@import "global/flat.scss";
@import "global/function.scss";

.hero {
	background: #7474BF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
	width: 100%;
	padding-top: 10%;
	
	@media (min-width: 768px) {
		padding-top: 0;
		@include flex();
	}

	.visualizer {
		width: 100%;
		min-height: 300px;
		background-color: transparentize($white, 0.61);
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;

		&:hover ~ audio {
			opacity: 1;
		}
	}
	.pulse__wrapper {
		min-height: 300px;
		position: relative;
		width: 480px;
		display: block;
		margin: 0 auto;
	}
	.pulse__song {
	    position: absolute;
	    z-index: 10;
	    left: 50%;
	    margin-left: -95px;
	    top: 50%;
	    margin-top: -90px;
	    text-align: center;
	    padding: 20px 10px;
	    background-color: transparentize(#527FC3, 0.4);
	    border-radius: 10px;

		@keyframes spin {
			100% {
				-webkit-transform: rotate(360deg);
				transform:rotate(360deg);
			}
		}
		.pulse__song--image {
			margin: 0 auto;
		    border-radius: 50%;
		    width: 120px;
		    height: 120px;
		    overflow: hidden;
		    margin-bottom: 15px;
		    animation:spin 8s linear infinite;

		    img {
			    width: 100%;
			    height: auto;
		    }
		}
		.pulse__song--title,
		.pulse__song--artist {
			color: #ffffff;
			font-weight: bold;
			font-size: 16px;
			line-height: normal;
			width: 180px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.pulse__song--artist {
			font-weight: normal;
			font-size: 14px;
		}
	}
	.pulse__inner {

		@for $i from 1 through 32 {
			.pulse__nodes--#{$i} {
				position: absolute;
				bottom: 0;
				height: 0;
				width: 12px;
				background-color: $white;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;

				@if $i == 1 {
					left: 0px;
				} @else {
					left: 12px * $i + ($i * 3 - 15px);	
				}
			}
		}
	}
	audio {
		width: 100%;
		opacity: 0.4;
		@include transition(0.3s);

		&:hover {
			opacity: 1;
		}
	}
	.source {
		width: 100%;
		display: block;
		text-align: center;

		.source-file {
			margin: 20px auto;
			background-color: transparent;
			color: $white;
			border-color: $white;
			@include transition(0.2s);

			.fa {
				margin-right: 5px;
			}
			&:hover {
				background-color: $white;
				color: #527FC3;
			}
		}
	}
}
